@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --gray-blue: hsl(233, 8%, 79%);
    --dark-gray-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --black-op: rgba(0,0,0, 0.5);
}

body {

    font-family: 'Inter', sans-serif;
    position: relative;
}

.fondo__menu {

    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--black-op);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.fondo__menu.menu {

    opacity: 1;
    visibility: visible;
}

nav > a img {

    width: 3em;
}

nav a:hover {

    color: var(--soft-red) !important;
}

.nav__mob {

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    padding: 2em;
    width: 65%;
    height: 100vh;
    z-index: 2;
    background: var(--off-white);
    transition: .5s;
}

.nav__mob button {

    margin-bottom: 6em;
    align-self: flex-end;
    border: none;
    background: none;
    cursor: pointer;
}

.nav__mob a {

    font-size: 1.1em;
}

.nav__mob.menu {

    right: 0;
}

h1 {

    font-weight: 800 !important;
}

article p {

    color: var(--very-dark-blue);
}

.news {

    background: var(--very-dark-blue);
}

article button {

    background: var(--soft-red);
    font-weight: 800;
    font-size: .9em;
    letter-spacing: .3em;
}

article button:hover {

    background: var(--very-dark-blue);
}

section > h2 {

    color: var(--soft-orange);
}

article h3:hover {

    color: var(--soft-orange) !important;
    cursor: pointer;
}

article h4 {

    color: var(--gray-blue);
}

article img {

    width: 8em;
}

.numbers__title:hover {

    color: var(--soft-red) !important;
    cursor: pointer;
}

.numbers {

    color: var(--gray-blue);
}

@media screen and (min-width: 992px) {
    
    nav > a img {

        width: 5em;
    }

    h1 {

        font-size: 3.3em !important;
    }
}